*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'M PLUS 1p', sans-serif;
    color:aliceblue;
}

h2{
    margin-top: 80px;
    margin-bottom: 80px;
}

a{
    display: inline-block;
    text-decoration: none;
    color:#AFB4DB;
}

/* background */
.background {
    background-image: url('./img/background.png');
    min-height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    opacity:0.9;
  }

  /* header */
  header{ 
    display: flex;
    justify-content: space-around;
    align-items: center;
    position:fixed;
    padding: 10px 100px;
 } 

header nav ul{ 
    display: flex;
 }

 header nav ul li{ 
    list-style: none;
    padding-right: 50px; 
    font-weight: bold;
    font-size: 1.3rem;
 } 

 header nav ul li:hover{ 
    opacity: 0.7;
 } 

 header h1 a img{
    width:10%;
    border: solid 1px black;
    border-radius: 50%;
    object-fit: cover;
 }

 #main-visual{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height:100vh;
}

#main-visual p{
    font-size: 2em;
    font-weight: bold;

}

/* works */
#works{
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

#works ul{
    display: flex;
    justify-content:space-between;
    /* align-items: center; */
    flex-wrap: wrap;
    /* margin:0 auto; */
    width:700px;
}

#works ul li{
    list-style: none; 
    width:300px;
}

#works ul li a img{
    width:100%;
    height: auto;
}

#works-menulist{
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    visibility: hidden;
}

#works-menulist:hover{
    background-color: yellow;
}


/* about */
#about{
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: column;
}

#about div img{
    object-fit: cover;
    width: 300px;
    height: 200px;
    border-radius: 50%;
}

#author-detail{
    display: flex;
    width:700px;
    margin-bottom: 80px;
}

#author-detail p{
    padding: 15px;
}

#profile{
    display: flex;
    justify-content:flex-start;
    flex-direction: column;
}

/* footer */
footer{
    text-align: center;
    font-size: 0.7rem;
}